<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <display-name>AddItem</display-name>
        <description></description>
        <servlet-class>br.edu.ifce.AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCarrinho</servlet-name>
        <display-name>CheckCarrinho</display-name>
        <description></description>
        <servlet-class>br.edu.ifce.CheckCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoClean</servlet-name>
        <display-name>CarrinhoClean</display-name>
        <description></description>
        <servlet-class>br.edu.ifce.CarrinhoClean</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CarrinhoCleanOne</servlet-name>
        <display-name>CarrinhoCleanOne</display-name>
        <description>Deleta 1 item do carrinho</description>
        <servlet-class>br.edu.ifce.CarrinhoCleanOne</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/AddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCarrinho</servlet-name>
        <url-pattern>/CheckCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoClean</servlet-name>
        <url-pattern>/CarrinhoClean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoCleanOne</servlet-name>
        <url-pattern>/CarrinhoCleanOne</url-pattern>
    </servlet-mapping>
</web-app>
